
.subadd{
    background: url("https://s3b.cashify.in/gpro/uploads/2022/09/24160037/Homepage-Festive_Offer_banner_450x225.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}